.theme-toggle-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .theme-toggle-button:hover {
    background-color: lightgray;
  }
    
