<nav class="nav">
  <!-- Organizer tabs -->
  @if (variant === 'organizer') {
    <a routerLink="/app/dashboard" routerLinkActive="active">
      <span class="icon material-icons">dashboard</span> Dashboard
    </a>
    <a routerLink="/app/election" routerLinkActive="active">
      <span class="icon material-icons">ballot</span> Election
    </a>
    <a routerLink="/app/result" routerLinkActive="active">
      <span class="icon material-icons">poll</span> Results
    </a>
  }

  <!-- User tabs -->
  @if (variant === 'user') {
    <a routerLink="/user/dashboard" routerLinkActive="active">
      <span class="icon material-icons">dashboard</span> Dashboard
    </a>
    <a routerLink="/user/vote" routerLinkActive="active">
      <span class="icon material-icons">how_to_vote</span> Vote
    </a>
    <a routerLink="/user/result" routerLinkActive="active">
      <span class="icon material-icons">poll</span> Results
    </a>
  }

  <ng-container *ngIf="user$ | async as user">
    <a style="cursor: pointer;" (click)="logout()">
      <span class="material-icons">logout</span> Logout
    </a>
  </ng-container>

</nav>


